<!-- ngIf condition will add/remove DOM, removed DOM will not show up -->
<div *ngIf="courses.length > 0">
  List of courses
</div>
<div *ngIf="courses.length == 0">
  No Courses
</div>

<!-- Since Angular 4, there is a if else condition and use template variable to switch-->
<div *ngIf="courses.length > 0; then hasCourses else noCourses">
</div>
  <!-- use # to define a template variable-->
<ng-template #hasCourses >
  List of Courses
</ng-template>
<ng-template #noCourses>
  No Courses
</ng-template>

<!-- For toggling DOM, another way is to show/hide DOM already rendered on browser -->
<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length > 0">
  No Courses
</div>

<ul class="nav nav-pill">
  <li class="active"><a href="">Map View</a></li>
  <li><a href="">List View</a></li>
</ul>
