<!-- ngIf condition will add/remove DOM, removed DOM will not show up -->
<div *ngIf="courses.length > 0">
  List of courses
</div>
<div *ngIf="courses.length == 0">
  No Courses
</div>

<!-- Since Angular 4, there is a if else condition and use template variable to switch-->
<!-- leading asterisk in *ngIf will replace <div> with <ng-template [ngIf]="courses.length > 0"><div> -->
<div *ngIf="courses.length > 0; then hasCourses else noCourses">
</div>
  <!-- use # to define a template variable-->
<ng-template #hasCourses >
  List of Courses
</ng-template>
<ng-template #noCourses>
  No Courses
</ng-template>

<!-- For toggling DOM, another way is to show/hide DOM already rendered on browser -->
<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length > 0">
  No Courses
</div>

<!-- If there are multiple options, we can use ngSwitch for switch cases -->
<ul class="nav nav-pill">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode='map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<!-- ngFor can be used to loop through array -->
<button (click)="onAdd()">Add</button>
<button [style.margin-left]="buttonLeftMargin" (click)="loadCourses()">Load Courses</button>
<ul>
  <!-- ngFor export value such as index, assign index to i, directive variable can be chec -->
  <li *ngFor="let course of courses; index as i; even as isEven; trackBy: trackCourse"> <!-- trackBy is used for change detection, it decides how the object has been changed -->
    {{ i+1 }} - {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
    <button (click)="onRemove(course)">Remove</button> <!-- pass in a course object-->
  </li>
</ul>

<!-- ngClass used to assign class name -->
<span class="fa" 
      [ngClass]="{
      'fa-star': isSelected,
      'fa-star-o': !isSelected
      }"
      (click)="onClick()"
></span>

<!-- <button
[style.backgroundColor]="canSave ? 'blue': 'gray'"
[style.color]="canSave ? 'white': 'black'"
[style.fontWeight]="canSave ? 'bold': 'normal'">
  Save
</button> -->
<button [ngStyle]="{
  'backgroundColor': canSave ? 'blue': 'gray',
  'color': canSave ? 'white': 'black'
}">
Save</button>

<!-- if the assigned value does not exist, and we don't want to output error -->
<!-- both operations below work  -->
<span *ngIf="task.assignee">{{ task.assignee.name }}</span>
<span>{{ task.assignee?.name }}</span> <!-- use ? means value will not show if it is null. It is safe traversal object -->

<input type="text" appInputFormat [format]="'uppercase'"><br/><br/>

<zippy title="Shipping Details">Shipping Details Content</zippy>
<zippy title="Billing Details">Billing Details Content</zippy>
